.reports-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.report-box {
  width: 30%;
  min-width: 250px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 15px;
}

.report-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  border-color: #40c4c4;
}

.report-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.report-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #40c4c4;
}

.report-details {
  font-size: 14px;
  color: #333;
  margin: 5px 0;
}

.edit-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #40c4c4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.edit-button:hover {
  background-color: #40c4c4;
}
